@font-face {
    font-family: 'pixelated_verdana_bold_12pt';
  font-style: normal;
  font-weight: 400;
  src: local('pixelated_verdana_bold_12pt'), local('pixelatedverdanabold12pt'), url(https://github.com/digivee/Font-hostings/raw/master/pixelated_verdana_bold_12pt.woff2) format('woff2'), url(https://github.com/digivee/Font-hostings/raw/master/pixelated_verdana_bold_12pt.woff) format('woff');
}