@font-face {
  font-family: 'pixelated_verdana_bold_12pt';
  font-style: normal;
  font-weight: 400;
  src: url('https://github.com/digivee/Font-hostings/raw/master/pixelated_verdana_bold_12pt.woff')
}
